body{
            color: #00C2FF;
            background-color:#000;
            min-width:1000px;
            margin:0;
            padding:0;
}

.header{           
}
.footer{
            color:white;
            font-size: x-small ;
            display: inline-block;
            margin:auto;
            width:100%;
            bottom:0px;
            text-align: center;
}

.header>span{
            font-variant: small-caps;
            font-weight: bold;
            display: inline-block;
            margin:auto;
            text-align: center;
            width:100%;
}

.node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
}

.node {
            font: 10px sans-serif;
            cursor:pointer;
}
.node text{
            fill:#00C2FF;
            font-weight: bold;
}
.svg{
}

.link {
            fill: none;
            stroke: #555;
            stroke-width: 1.5px;
}
path.link {
            fill: none;
            stroke: #555;
            stroke-width: 1.5px;
}